 /* Floating Chat Style */
 .floating-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%); /* Initially hidden */
    z-index: 9999;
}

.floating-chat.show {
    transform: translateY(0); /* Slide up */
}

.chat-header {
    padding: 10px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.chat-body {
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #f1f3f4;
}

.chat-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.chat-footer textarea {
    width: 80%;
    border-radius: 15px;
    padding: 10px;
}

.chat-footer button {
    border-radius: 50%;
}

.color-red{
    color: red;
}


.progress-bar-label {
    font-size: 0.8rem;
    color: #000;
    width: 150px;
}